body {
    background-color: hsl(47, 88%, 63%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.preview-card {
    text-align: center;
    height: 600px;
    width: 450px;
    background-color: white;
    border-radius: 25px;
    border: 1px solid black;
    box-shadow: 10px 10px;
}

.card-img {
    border-radius: 25px;
    margin-top: 20px;
    width: 90%;

}

.card-text {

    font-family: Figtree, sans-serif;
    margin-top: 20px;
    text-align: left;
    padding: 0 20px;
}


.greg-info {
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-top: 20px;
    padding-top: 10px;
}

.greg-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5px;

}

#greg-img {
    width: 40px;
    height: 40px;
}


#learn-btn {
    background-color: hsl(47, 88%, 63%);
    font-weight: 750;
    height: 30px;
    width: 90px;
    border-radius: 5px;
    text-align: center;
    padding-top: 10px;

}

#main-paragraph {
    color: grey;
    font-size: 19px;
}

#main-heading {
    font-size: 27px;
}

#main-heading:hover {
    cursor: pointer;
    color: hsl(47, 88%, 63%);
    transition: 0.3s;
}

#greg-nameCard {
    font-family: Figtree, sans-serif;
    margin-left: 20px;
    font-weight: 800;


    /*line up the namecard and the image*/
}

.attribution {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
}