body{
    background-color: hsl(47, 88%, 63%);
    display: flex;
    justify-content:  center;
    align-items: center;
    height: 100vh;
}


.preview-card{
    text-align: center;
    height: 457px;
    width: 355px;
    background-color: white;
    border-radius: 25px;
    border: 1px solid black;
    box-shadow: 10px 10px;
}

.card-img{
    border-radius: 25px;
    margin-top: 20px;
    width: 90%;
   
}
.card-text{

    font-family: Figtree, sans-serif;
    margin-top: 20px;
}